#logo {
	padding-left: 1px;
}
#search-addon {
	background-color: rgb(133, 163, 255);
}

#search-input {
	background-color: rgb(189, 189, 189);
}

#main-menu {
	background-color: rgb(0, 84, 168);
	margin-top: 15px;
}

#menu-items li a {
	color: #FFFFFF;
}

#main-menu li a:hover {
	background-color: rgb(207, 207, 207);
	color: rgb(0, 84, 164);
}

#extra-menu {
	background-color: rgb(255, 130, 5);
}

#extra-menu li a {
	color: #FFFFFF;
}

#extra-menu li ul li a {
	color: rgb(0, 84, 164);
}

.sub-menu {
	background-color: rgb(237, 237, 237);
	display: none;
}

#product-info {
	padding-left: 0;
}

#product-function {
	border: #CCCCCC solid thin;
	margin-top: 15px;
}

#product-btn-group {
	padding-top: 5px;
	padding-bottom: 5px;
}

#extra-btn-group {
	padding-top: 5px;
	padding-bottom: 5px;
	padding-right: 5px;
}

#itemContainer {
	margin-top: 15px;
	margin-left: 0;
	margin-right: 0;
	padding-left: 0;
	padding-right: 0;
}

.items {
	margin-bottom: 10px;
}

#design-center, .center-links, #side-navigation, #file-upload {
	border: #CCCCCC solid thin;
	margin-bottom: 5px;
}

.navigation-items {
  margin-left: -15px;
}

.navigation-item {
  height: 75px;
  width: 75px;
}

.file-format {
	height: 35px;
	width: 35px;
}

.file-info {
	padding-right: 5px;
}

.keyword-label {
	margin-left: -75px;
	margin-right: 0;
	padding-right: 0;
	text-align: right;
}

.keywords a, .clear-hints a {
	text-decoration: none;
}

.keyword-input {
	width: 500px;
}

.criteria-hint {
  background-color: rgb(0, 84, 168);
  color: #FFFFFF;
}

#remove-hints {
  display: none;
}
